/* ==UserStyle==
@name         Thin Scrollbars (thin only)
@version      20260509.16.11
@namespace    github.com/ancandi
@description  make scrollbars thinner/transparent in background
@author       ancandi
@license      MIT
==/UserStyle== */

@-moz-document regexp(".*") {
:where(*) {
  scrollbar-width: thin;
  scrollbar-color: #000 #0000;
}
}
